$main-green: #4f9442;
$main-yellow: #dde011;
$main-light-green: #8cd860;
$text-color: #505050;
$table-border-color: #a1a1a1;

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h1 {
    width: fit-content;
    color: $text-color;
    font-size: 1.5rem;
}

// header
$header-shadow: #dbdbdb;
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 8px $header-shadow;
    div {
        width: fit-content;
        display: flex;
        align-items: center;
        margin: 0 auto 0 2rem;
        padding: 1rem 0;
        a {
            width: fit-content;
            height: fit-content;
            cursor: pointer;
            text-decoration: none;
            &:active {
                color: $text-color;
            }
            &:focus {
                outline: none;
            }
            p {
                margin: 0;
                color: $text-color;
            }
        }
    }
}
.headerLeft {
    gap: 2rem;
    margin: 0 auto 0 3rem;
    img {
        width: 5rem;
    }
}
.headerRight {
    gap: 4rem;
    margin: 0 5rem 0 auto;
}
.headerText {
    color: $text-color;
    font-weight: bold;
    font-size: 1.5rem;
}
.headerTextLink {
    font-size: 1.2rem;
}
.indexLinkBar {
    position: relative;
    display: inline-block;
    &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
    }
    &:nth-child(1){
        &::after {
            background: $main-green;
        }
    }
    &:nth-child(2){
        &::after {
            background: $main-yellow;
        }
    }
    &:nth-child(3){
        &::after {
            background: $main-light-green;
        }
    }
    &:hover {
        &::after {
            transform: scale(1, 1);
        }
    }
}

// backBtn
$backBtn-arrow-color: #5e5e5e;
$backBtn-arrow-weight: 0.1rem;
.backBtn {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
    &:active {
        color: $text-color;
    }
    &:focus {
        outline: none;
    }
    p {
        color: $text-color;
        margin: 0 1.8rem -1rem;
    }
}
.backBtnArrow {
    width: 6rem;
    height: 1rem;
    border-bottom: $backBtn-arrow-weight solid $backBtn-arrow-color;
    border-left: $backBtn-arrow-weight solid $backBtn-arrow-color;
    transform: skew(135deg);
}

// btn component
.btnBase {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
    &:active {
        color: $text-color;
    }
    &:focus {
        outline: none;
        color: $text-color;
    }
    &:visited {
        color: $text-color;
    }
    &:link {
        color: $text-color;
    }
    display: flex;
    gap: 0.6rem;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: 1px solid $text-color;
    border-radius: 5px;
}

// table
.tableBase {
    width: fit-content;
    border-collapse:  collapse;
    th, td {
        border: 1px solid $table-border-color;
        padding: 0.6rem 1.5rem;
    }
}
