.btn {
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.btn-malformation {
    padding: 2rem 3rem;
    border-radius: 100% 80px / 80px 100%;
    &:hover {
        border-radius: 60% 80% / 100% 80%;
    }
}

.top-green {
    background-color: $main-green;
    color: #eee;
    &:active {
        color: #eee;
    }
    &:focus {
        outline: none;
        color: #eee;
    }
    &:visited {
        color: #eee;
    }
    &:link {
        color: #eee;
    }
}
.top-yellow {
    background-color: $main-yellow;
    color: $text-color;
    &:active {
        color: $text-color;
    }
    &:focus {
        outline: none;
        color: $text-color;
    }
    &:visited {
        color: $text-color;
    }
    &:link {
        color: $text-color;
    }
}
.top-light-green {
    background-color: $main-light-green;
    color: $text-color;
    &:active {
        color: $text-color;
    }
    &:focus {
        outline: none;
        color: $text-color;
    }
    &:visited {
        color: $text-color;
    }
    &:link {
        color: $text-color;
    }
}

