.createBookBtn {
    margin: 0 0.5rem 0.5rem auto;
}
.searchForm {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto 4rem;
    padding: 2rem 3rem;
    button {
        margin: 0 auto 0.5rem;
        color: $text-color;
    }
}
.searchInputArea{
    width: fit-content;
    display: flex;
    gap: 3rem;
    margin: 0;
}
.searchFormInputFlex {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0;
    span {
        display: flex;
        gap: 1rem;
        label {
            width: 6rem;
            text-align: right;
        }
    }
}
.searchResult {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
    margin: 4rem auto 6rem;
}
